extends ../../layout/layout.pug

block variable
    -var path = '../../';


    //- include ../../includes/information.pug


    //- (style="background-image: url('../../img/preview_bg.webp')")


block content
    // begin preview
    section#preview.preview.section
        .container_center
            .preview__slider
                .swiper.swiper_single_js
                    .swiper-wrapper
                        each item in ['', '', '', '' ]
                            .swiper-slide
                                .preview__content
                                    .preview__img.img
                                        img.desktop(src="../../img/preview_bg.webp" alt="alt")
                                        img.mobile(src="../../img/preview_bg_m.webp" alt="alt")
                                    .preview__title
                                        span Доильный аппарат ТК 2-РК для коров
                                    .preview__btn
                                        a.btn(href="#") Узнать больше


                    .swiper__dotted
                .swiper__arrows.arrows_preview_js
                    i.icon_arrow_left
                    i.icon_arrow_right

    // end preview

    // begin advantage
    section#advantage.advantage.section
        .container_center
            .advantage__list
                each item in [ {img: '1', title: 'Прямые поставки от производителя', text: 'Доставляем товар напрямую от Турецкого производителя Melasty'}, {img: '2', title: 'Доставим товар за 1-3 дня', text: 'Службой доставки или сможете забрать товар сами у нас со склада'}, {img: '3', title: 'Личный менеджер на связи с вами 24/7', text: 'Стараемся дать вам лучший сервис и профессионализм от нашей команды'}, {img: '4', title: 'Гарантия на товар от 12 до 60 месяцев', text: 'В течение этого срока сможем отремонтировать или обменять товар на другой'} ]

                    .advantage__item
                        .advantage__img.img
                            img(src="../../img/advantage_"+item.img+".png", alt="alt")
                        .advantage__title=item.title
                        .advantage__text=item.text

    // end advantage

    // begin subcategories
    section#subcategories.subcategories.section
        .container_center
            h2.section__title
                span Популярные подкатегории
            .subcategories__list
                each item in [{img: '1', quantity: '13', title: 'Доильные аппараты для коров' }, {img: '2', quantity: '9', title: 'Доильные аппараты для коз и овец' }, {img: '3', quantity: '40', title: 'Комплектующие к доильным аппаратам' } ]

                    a.subcategories__item(href="#")

                        .subcategories__img.img
                            img(src="../../img/subcategories_"+item.img+".webp" alt="alt")
                        .subcategories__content
                            .subcategories__quantity
                                span=item.quantity 
                                span  товаров
                            .subcategories__title=item.title

    // end subcategories

    // begin catalog
    section.catalog.section
        .container_center

            .catalog__caption
                h2.section__title
                    span Хиты продаж
                .catalog__more.desktop.snakeline
                    a(href="#") Cмотреть все товары

            .catalog__slider
                .swiper.swiper_catalog_js
                    .swiper-wrapper
                        each item in ['', '', '', '', '', '', '', '' ]
                            .swiper-slide

                                //- start catalog__item
                                .catalog__item
                                    .catalog__info 
                                        span Хит продаж
                                    a(href="#").catalog__img
                                        img(src="../../img/catalog.jpg", alt="alt")
                                    a(href="#").catalog__title Доильный аппарат ТК 2-РК для коров
                                    .catalog__boolean В наличии
                                    //- .catalog__boolean.false Под заказ
                                    .catalog__price
                                        ins
                                            span.woocommerce-Price-amount.amount
                                                bdi 2000 <span class="woocommerce-Price-currencySymbol">руб.<span>

                                    .catalog__btn
                                        a.btn(href="#") В корзину

                                //- end catalog__item



                .swiper__arrows
                    i.icon_arrow_left
                    i.icon_arrow_right

            .catalog__more.mobile
                a(href="#") Cмотреть все товары


    // end catalog

    // begin catalog
    section.catalog.section
        .container_center

            .catalog__caption
                h2.section__title
                    span Новинки
                .catalog__more.desktop.snakeline
                    a(href="#") Cмотреть все товары

            .catalog__slider
                .swiper.swiper_catalog_js
                    .swiper-wrapper
                        each item in ['', '', '', '', '', '', '', '' ]
                            .swiper-slide

                                //- start catalog__item
                                .catalog__item.new
                                    .catalog__info 
                                        span Новинка
                                    a(href="#").catalog__img
                                        img(src="../../img/catalog.jpg", alt="alt")
                                    a(href="#").catalog__title Доильный аппарат ТК 2-РК для коров
                                    .catalog__boolean В наличии
                                    .catalog__price
                                        ins
                                            span.woocommerce-Price-amount.amount
                                                bdi 2000 <span class="woocommerce-Price-currencySymbol">руб.<span>

                                    .catalog__btn
                                        a.btn(href="#") В корзину

                                //- end catalog__item



                .swiper__arrows
                    i.icon_arrow_left
                    i.icon_arrow_right

            .catalog__more.mobile
                a(href="#") Cмотреть все товары


    // end catalog

    // begin information
    section#information.information.section
        .container_center
            .information__wrap
                .information__img.img.desktop
                    img(src="../../img/information_1.webp", alt="alt")
                .information__img.img.mobile
                    img(src="../../img/information_1_sm.webp", alt="alt")

                .information__content
                    h2.section__title
                        span «Белэксальто» - Ваш надежный партнёр в поставке оборудования для животноводства и фермерства
                    .information__grid
                        each item in ['6 лет на рынке поставки сельскохозяйственной техники и оборудования', '500 наименований товара в нашем каталоге, количество увеличивается ежедневно', '2000 единиц техники продано в 22 страны мира', '0 рекламаций и возвратов техники за 6 лет работы', ]
                            .information__item
                                .mark
                                span=item

                    .information__btn
                        a.btn(href="#") Подробнее о компании

                .information__worker
                    .worker
                        .worker__name Бурдо Александр Евгеньевич
                        .worker__info Учредитель компании “Белэксальто”

    // end information

    // begin blog
    section#blog.blog.section
        .container_center
            .blog__caption
                h2.section__title
                    span Блог

                .blog__more.desktop.snakeline
                    a(href="#") Cмотреть все статьи


            .blog__slider
                .swiper.swiper_blog_js
                    .swiper-wrapper

                        each item in [ {img: '1', title: 'Лучшая сельхозтехника для увеличения урожайности'}, {img: '2', title: 'Как современные технологии помогают сельскому хозяйству'}, {img: '3', title: 'Новейшие разработки в области сельхозтехники'}, {img: '1', title: 'Лучшая сельхозтехника для увеличения урожайности'}, ]
                            .swiper-slide
                                .blog__item

                                    a(href="#").blog__img.img
                                        img(src="../../img/blog_"+item.img+".jpg", alt="alt")
                                    a(href="#").blog__title=item.title
                                    .blog__date 24 марта 2023


                .swiper__arrows
                    i.icon_arrow_left
                    i.icon_arrow_right


            .blog__more.mobile
                a(href="#") Cмотреть все статьи

    // end blog

    // begin content
    section#content.content.section
        .container_center
            .content__title Сельское хозяйство

            .content__preview
                p Сельское хозяйство - это отрасль экономики, которая занимается производством продуктов питания и других сельскохозяйственных продуктов. В сельском хозяйстве используются различные инструменты и технологии, чтобы получать наилучшие результаты. Доильный аппарат - это машина, которая используется для доения животных, в основном коров. Доильные аппараты позволяют увеличить производительность и эффективность доения, что может быть особенно важно для крупных хозяйств. Однако, необходимо убедиться, что доильный аппарат используется правильно и не наносит вреда животным.

            .content__collapse
                .collapse__body(data-collapse-body="")
                    .content__content
                        p Сельское хозяйство - это отрасль экономики, которая занимается производством продуктов питания и других сельскохозяйственных продуктов. В сельском хозяйстве используются различные инструменты и технологии, чтобы получать наилучшие результаты. Доильный аппарат - это машина, которая используется для доения животных, в основном коров. Доильные аппараты позволяют увеличить производительность и эффективность доения, что может быть особенно важно для крупных хозяйств. Однако, необходимо убедиться, что доильный аппарат используется правильно и не наносит вреда животным.


                        h1 заголовок h1
                        h2 заголовок h2
                        h3 заголовок h3
                        h4 заголовок h4
                        h5 заголовок h5
                        h6 заголовок h6

                        p Сельское хозяйство - это отрасль экономики, которая занимается производством продуктов питания и других сельскохозяйственных продуктов. В сельском хозяйстве используются различные инструменты и технологии, чтобы получать наилучшие результаты. Доильный аппарат - это машина, которая используется для доения животных, в основном коров. Доильные аппараты позволяют увеличить производительность и эффективность доения, что может быть особенно важно для крупных хозяйств. Однако, необходимо убедиться, что доильный аппарат используется правильно и не наносит вреда животным.



                        ul
                            each item in ['защищенность от размокания;', 'использование водостойких материалов и покрытий;', 'широкий диапазон рабочих температур;', 'обработка составами, предотвращающими появление плесени или грибков;']
                                li=item



                .collapse__title(data-collapse="") Читать полностью

    // end content
